.DS_Store
__pycache__/
.python-version
.vscode/
.ipynb_checkpoints/
references/
research_notes/
data_sim_results/
tm_model_log.txt
__pycache__/
.DS_Store
.env
x_old/
README_pdf_notes.md
ts_pdf_tex_md/